# MODULE 1

# Problem statement 1.1

Import the csv file of the stock you have been allotted using 'pd.read_csv()' function into a dataframe.
Shares of a company can be offered in more than one category. The category of a stock is indicated in the ‘Series’ column. If the csv file has data on more than one category, the ‘Date’ column will have repeating values. To avoid repetitions in the date, remove all the rows where 'Series' column is NOT 'EQ'.
Analyze and understand each column properly.
You'd find the head(), tail() and describe() functions to be immensely useful for exploration. You're free to carry out any other exploration of your own.

In [1]:
#Importing libraries
import pandas as pd
import numpy as np
import datetime

In [2]:
#Reading data
data=pd.read_csv("HDFC.csv")
data.head() #use to display initial few rows of dataset

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,HDFC,EQ,15-May-2017,1549.80,1554.50,1572.60,1554.10,1561.0,1559.50,1562.62,1270297,1.984990e+09,59917,955875,75.25
1,HDFC,W2,15-May-2017,204.45,217.95,217.95,205.00,205.0,205.00,209.50,29200,6.117400e+06,4,29200,100.00
2,HDFC,EQ,16-May-2017,1559.50,1558.00,1569.00,1554.00,1568.0,1566.55,1564.05,2114918,3.307844e+09,79354,1652379,78.13
3,HDFC,EQ,17-May-2017,1566.55,1565.50,1570.95,1549.75,1550.1,1552.50,1557.08,2161434,3.365526e+09,80317,1794472,83.02
4,HDFC,W2,17-May-2017,205.00,204.95,207.00,204.95,207.0,207.00,205.75,73000,1.501938e+07,10,73000,100.00

In [3]:
data.tail() #use to display last few rows of dataset

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
824,HDFC,EQ,07-May-2019,1965.45,1974.80,2009.15,1959.20,1964.50,1966.30,1983.01,2683956,5.322315e+09,114029,1522276,56.72
825,HDFC,EQ,08-May-2019,1966.30,1964.50,1964.50,1925.05,1930.10,1930.75,1941.55,3626183,7.040422e+09,151779,2378973,65.61
826,HDFC,EQ,09-May-2019,1930.75,1926.00,1931.60,1901.30,1914.15,1914.60,1918.15,1932792,3.707382e+09,130444,1132999,58.62
827,HDFC,EQ,10-May-2019,1914.60,1915.25,1956.00,1910.75,1926.80,1931.70,1936.05,1628923,3.153682e+09,97684,811832,49.84
828,HDFC,EQ,13-May-2019,1931.70,1926.10,1984.40,1917.85,1957.00,1952.90,1958.85,4509527,8.833504e+09,139299,1332224,29.54

In [4]:
data.describe() #use to display description and features of dataset

,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
count,829.000000,829.000000,829.000000,829.000000,829.000000,829.000000,829.000000,8.290000e+02,8.290000e+02,829.000000,8.290000e+02,829.000000
mean,1235.068637,1237.372376,1249.368938,1223.320869,1236.191858,1236.496562,1236.178492,1.763380e+06,3.107192e+09,67614.677925,1.241798e+06,72.594077
std,728.839077,730.235891,734.456171,724.421341,729.350445,729.566264,729.328719,1.650588e+06,3.092474e+09,63518.256040,1.183951e+06,15.632166
min,193.000000,193.000000,194.400000,190.250000,193.000000,193.000000,193.290000,7.300000e+03,1.445400e+06,1.000000,0.000000e+00,0.000000
25%,365.000000,367.450000,373.000000,357.000000,365.000000,365.000000,364.590000,1.460000e+05,5.301187e+07,18.000000,1.022000e+05,65.840000
50%,1700.800000,1705.000000,1715.000000,1685.050000,1701.000000,1702.100000,1703.630000,1.685595e+06,3.091969e+09,75553.000000,1.141221e+06,72.720000
75%,1858.900000,1864.000000,1881.500000,1847.050000,1860.050000,1859.550000,1865.270000,2.778618e+06,5.053920e+09,116325.000000,1.983472e+06,80.950000
max,2069.150000,2068.000000,2073.000000,2039.150000,2067.000000,2069.150000,2057.720000,9.486397e+06,1.749929e+10,312842.000000,6.951300e+06,100.000000

In [5]:
main_data = data[data.Series == 'EQ'] #drops the W2 entries from the dataset
main_data

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,HDFC,EQ,15-May-2017,1549.80,1554.50,1572.60,1554.10,1561.00,1559.50,1562.62,1270297,1.984990e+09,59917,955875,75.25
2,HDFC,EQ,16-May-2017,1559.50,1558.00,1569.00,1554.00,1568.00,1566.55,1564.05,2114918,3.307844e+09,79354,1652379,78.13
3,HDFC,EQ,17-May-2017,1566.55,1565.50,1570.95,1549.75,1550.10,1552.50,1557.08,2161434,3.365526e+09,80317,1794472,83.02
5,HDFC,EQ,18-May-2017,1552.50,1547.00,1558.60,1526.50,1545.00,1537.05,1539.03,2404372,3.700407e+09,85842,1837821,76.44
7,HDFC,EQ,19-May-2017,1537.05,1545.00,1548.00,1515.35,1526.50,1520.60,1526.14,2142433,3.269652e+09,113875,1601236,74.74
9,HDFC,EQ,22-May-2017,1520.60,1530.00,1530.00,1510.25,1519.95,1519.85,1518.84,1920867,2.917481e+09,70390,1541085,80.23
11,HDFC,EQ,23-May-2017,1519.85,1521.70,1537.20,1503.45,1510.00,1511.50,1521.20,1408855,2.143149e+09,56848,969791,68.84
13,HDFC,EQ,24-May-2017,1511.50,1519.00,1541.75,1512.40,1525.00,1524.85,1527.90,2209471,3.375851e+09,75808,1361319,61.61
15,HDFC,EQ,25-May-2017,1524.85,1533.90,1546.00,1530.50,1539.00,1539.75,1539.88,4099792,6.313184e+09,91104,3327557,81.16
17,HDFC,EQ,26-May-2017,1539.75,1538.10,1563.00,1530.25,1544.50,1547.90,1548.63,1871008,2.897491e+09,59347,1270174,67.89
19,HDFC,EQ,29-May-2017,1547.90,1546.00,1601.25,1546.00,1596.75,1598.85,1586.02,3464406,5.494627e+09,75137,1961992,56.63
21,HDFC,EQ,30-May-2017,1598.85,1595.70,1604.00,1575.05,1582.60,1579.50,1588.05,1605211,2.549149e+09,77293,1019565,63.52
23,HDFC,EQ,31-May-2017,1579.50,1581.00,1596.15,1565.40,1576.80,1569.85,1571.89,4907685,7.714320e+09,160031,3833239,78.11
25,HDFC,EQ,01-Jun-2017,1569.85,1551.80,1587.40,1551.80,1577.25,1583.75,1575.11,2990228,4.709942e+09,155736,1983472,66.33
27,HDFC,EQ,02-Jun-2017,1583.75,1582.00,1612.80,1582.00,1595.35,1604.65,1602.17,3427957,5.492167e+09,99348,2572628,75.05
29,HDFC,EQ,05-Jun-2017,1604.65,1606.40,1612.00,1591.15,1605.00,1606.15,1603.91,2988075,4.792594e+09,81217,2167100,72.52
31,HDFC,EQ,06-Jun-2017,1606.15,1610.00,1624.85,1602.50,1603.70,1605.75,1611.85,2170920,3.499205e+09,48603,1537563,70.83
33,HDFC,EQ,07-Jun-2017,1605.75,1609.70,1611.50,1590.60,1600.00,1599.35,1598.75,1726464,2.760191e+09,69120,1256284,72.77
35,HDFC,EQ,08-Jun-2017,1599.35,1608.90,1635.00,1605.00,1631.00,1633.55,1628.23,2289492,3.727828e+09,104016,1459772,63.76
37,HDFC,EQ,09-Jun-2017,1633.55,1628.00,1649.00,1620.10,1646.10,1647.20,1636.33,2633241,4.308860e+09,73460,1898414,72.09
39,HDFC,EQ,12-Jun-2017,1647.20,1644.00,1651.80,1633.85,1647.00,1647.50,1643.89,2000556,3.288695e+09,71819,1467513,73.36
41,HDFC,EQ,13-Jun-2017,1647.50,1642.05,1682.20,1642.05,1665.00,1667.65,1667.32,2737084,4.563601e+09,143134,1840910,67.26
43,HDFC,EQ,14-Jun-2017,1667.65,1661.55,1668.00,1644.00,1647.10,1651.10,1651.72,6519614,1.076859e+10,139220,6014688,92.26
45,HDFC,EQ,15-Jun-2017,1651.10,1648.70,1653.70,1629.55,1635.00,1636.85,1642.13,5678766,9.325296e+09,73070,5097448,89.76
47,HDFC,EQ,16-Jun-2017,1636.85,1634.30,1651.00,1629.15,1635.20,1640.85,1641.87,2692532,4.420795e+09,73989,1737533,64.53
49,HDFC,EQ,19-Jun-2017,1640.85,1659.00,1660.00,1645.20,1659.60,1654.20,1652.88,2907637,4.805977e+09,62546,2321542,79.84
51,HDFC,EQ,20-Jun-2017,1654.20,1651.15,1660.00,1627.90,1632.15,1631.50,1636.96,2304515,3.772390e+09,67469,1652828,71.72
53,HDFC,EQ,21-Jun-2017,1631.50,1632.15,1638.00,1615.50,1626.00,1628.25,1622.59,2359678,3.828801e+09,85584,1833784,77.71
55,HDFC,EQ,22-Jun-2017,1628.25,1626.10,1660.00,1626.10,1650.10,1653.80,1651.94,3438975,5.680997e+09,129910,2724127,79.21
57,HDFC,EQ,23-Jun-2017,1653.80,1660.00,1661.00,1642.10,1650.20,1651.35,1651.51,2590704,4.278584e+09,119288,1946085,75.12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
799,HDFC,EQ,27-Mar-2019,1946.30,1955.55,1959.00,1906.00,1914.10,1919.90,1937.71,3076446,5.961253e+09,161822,2146231,69.76
800,HDFC,EQ,28-Mar-2019,1919.90,1917.00,1950.00,1912.05,1942.10,1944.45,1942.93,6370987,1.237836e+10,151893,5177109,81.26
801,HDFC,EQ,29-Mar-2019,1944.45,1950.05,1972.25,1936.05,1964.00,1968.25,1956.38,4320179,8.451925e+09,148642,3200934,74.09
802,HDFC,EQ,01-Apr-2019,1968.25,1968.10,1975.00,1945.05,1951.00,1959.65,1960.06,3328552,6.524154e+09,168073,2370360,71.21
803,HDFC,EQ,02-Apr-2019,1959.65,1966.10,2001.00,1955.00,1998.95,1995.95,1979.73,3655232,7.236387e+09,159005,2561511,70.08
804,HDFC,EQ,03-Apr-2019,1995.95,2004.00,2032.45,1997.15,2008.75,2013.10,2019.73,4345772,8.777270e+09,109651,2926819,67.35
805,HDFC,EQ,04-Apr-2019,2013.10,2008.00,2058.80,2006.30,2041.90,2042.05,2037.46,4463212,9.093604e+09,154293,3106308,69.60
806,HDFC,EQ,05-Apr-2019,2042.05,2045.00,2065.00,2035.00,2064.50,2059.20,2055.28,2576789,5.296023e+09,125822,1692384,65.68
807,HDFC,EQ,08-Apr-2019,2059.20,2068.00,2072.50,2029.25,2052.00,2054.90,2048.64,2057768,4.215626e+09,114354,1387042,67.41
808,HDFC,EQ,09-Apr-2019,2054.90,2062.50,2073.00,2039.15,2067.00,2069.15,2057.72,2381281,4.900013e+09,162102,1662887,69.83
809,HDFC,EQ,10-Apr-2019,2069.15,2067.50,2068.00,2025.10,2029.95,2029.25,2038.39,3036356,6.189267e+09,151203,2155517,70.99
810,HDFC,EQ,11-Apr-2019,2029.25,2028.00,2048.00,2017.50,2018.10,2022.80,2029.46,2521729,5.117742e+09,160208,1690856,67.05
811,HDFC,EQ,12-Apr-2019,2022.80,2024.00,2029.90,2008.10,2023.00,2024.95,2020.07,2121821,4.286233e+09,102234,1519702,71.62
812,HDFC,EQ,15-Apr-2019,2024.95,2034.90,2034.90,2010.00,2012.00,2014.25,2019.10,1333222,2.691910e+09,76176,811985,60.90
813,HDFC,EQ,16-Apr-2019,2014.25,2019.70,2034.30,2016.10,2027.20,2026.70,2025.80,2000314,4.052236e+09,166866,1489678,74.47
814,HDFC,EQ,18-Apr-2019,2026.70,2040.00,2047.90,1998.15,2005.00,2003.75,2013.04,3888701,7.828095e+09,175404,2147684,55.23
815,HDFC,EQ,22-Apr-2019,2003.75,2005.00,2010.00,1948.00,1958.50,1953.90,1970.41,2002662,3.946056e+09,80677,1361456,67.98
816,HDFC,EQ,23-Apr-2019,1953.90,1958.00,1966.25,1929.60,1930.00,1934.70,1944.34,2848980,5.539373e+09,109800,1999347,70.18
817,HDFC,EQ,24-Apr-2019,1934.70,1943.90,1985.00,1933.25,1984.70,1980.40,1958.44,2758373,5.402103e+09,115391,1799052,65.22
818,HDFC,EQ,25-Apr-2019,1980.40,1987.55,1998.80,1946.55,1951.45,1955.15,1970.35,4162465,8.201508e+09,136733,2807343,67.44
819,HDFC,EQ,26-Apr-2019,1955.15,1959.30,1982.15,1941.60,1976.95,1977.40,1963.96,2094836,4.114177e+09,102041,1440081,68.74
820,HDFC,EQ,30-Apr-2019,1977.40,1977.40,1999.85,1954.20,1995.55,1995.05,1976.43,3675345,7.264045e+09,122095,2606623,70.92
821,HDFC,EQ,02-May-2019,1995.05,1995.00,2027.90,1989.25,2018.00,2017.40,2012.44,2380823,4.791258e+09,124835,1428794,60.01
822,HDFC,EQ,03-May-2019,2017.40,2017.50,2037.60,2000.00,2002.80,2006.40,2020.47,1451357,2.932422e+09,80223,850504,58.60
823,HDFC,EQ,06-May-2019,2006.40,1987.25,1993.95,1957.00,1965.90,1965.45,1967.93,2216418,4.361748e+09,89509,1394023,62.90
824,HDFC,EQ,07-May-2019,1965.45,1974.80,2009.15,1959.20,1964.50,1966.30,1983.01,2683956,5.322315e+09,114029,1522276,56.72
825,HDFC,EQ,08-May-2019,1966.30,1964.50,1964.50,1925.05,1930.10,1930.75,1941.55,3626183,7.040422e+09,151779,2378973,65.61
826,HDFC,EQ,09-May-2019,1930.75,1926.00,1931.60,1901.30,1914.15,1914.60,1918.15,1932792,3.707382e+09,130444,1132999,58.62
827,HDFC,EQ,10-May-2019,1914.60,1915.25,1956.00,1910.75,1926.80,1931.70,1936.05,1628923,3.153682e+09,97684,811832,49.84
828,HDFC,EQ,13-May-2019,1931.70,1926.10,1984.40,1917.85,1957.00,1952.90,1958.85,4509527,8.833504e+09,139299,1332224,29.54

# Problem statement 1.2

Calculate the maximum, minimum and mean price for the last 90 days. (price=Closing Price unless stated otherwise)

In [7]:
main_data.tail(90)['Close Price'].max() #Calculates maximum price for last 30 days.

2069.15

In [8]:
main_data.tail(90)['Close Price'].min() #Calculates minimum price for last 30 days.

1841.0

In [9]:
main_data.tail(90)['Close Price'].mean() #Calculates mean price for last 30 days.

1955.255555555555

# Problem statement 1.3

Analyse the data types for each column of the dataframe. Pandas knows how to deal with dates in an intelligent manner. But to make use of Pandas functionality for dates, you need to ensure that the column is of type 'datetime64(ns)'. Change the date column from 'object' type to 'datetime64(ns)' for future convenience. See what happens if you subtract the minimum value of the date column from the maximum value.

In [10]:
main_data.dtypes

Symbol                     object
Series                     object
Date                       object
Prev Close                float64
Open Price                float64
High Price                float64
Low Price                 float64
Last Price                float64
Close Price               float64
Average Price             float64
Total Traded Quantity       int64
Turnover                  float64
No. of Trades               int64
Deliverable Qty             int64
% Dly Qt to Traded Qty    float64
dtype: object

In [12]:
main_data['Date'] = main_data['Date'].astype('datetime64[ns]')

C:\Users\skart\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [13]:
main_data.dtypes

Symbol                            object
Series                            object
Date                      datetime64[ns]
Prev Close                       float64
Open Price                       float64
High Price                       float64
Low Price                        float64
Last Price                       float64
Close Price                      float64
Average Price                    float64
Total Traded Quantity              int64
Turnover                         float64
No. of Trades                      int64
Deliverable Qty                    int64
% Dly Qt to Traded Qty           float64
dtype: object

In [15]:
max_date = max(main_data["Date"]) #Calculate max date
min_date = min(main_data["Date"]) #calculate min date
sub_date= max_date-min_date #Subtraction of min date from max date
sub_date

Timedelta('728 days 00:00:00')

# Problem Statement 1.4

In a separate array , calculate the monthwise VWAP (Volume Weighted Average Price ) of the stock.
( VWAP = sum(price*volume)/sum(volume) )
{Hint : Create a new dataframe column ‘Month’. The values for this column can be derived from the ‘Date” column by using appropriate pandas functions. Similarly, create a column ‘Year’ and initialize it. Then use the 'groupby()' function by month and year. Finally, calculate the vwap value for each month (i.e. for each group created).

In [16]:
data['Month'] = pd.DatetimeIndex(data['Date']).month #A new dataframe column ‘Month’.
data['Year'] = pd.DatetimeIndex(data['Date']).year #A new dataframe column ‘Year’.
#Calculation of VWAP value
data['VWAP'] = (np.cumsum(main_data['Close Price'] * main_data['Total Traded Quantity'])/(np.cumsum(main_data['Total Traded Quantity'])))
data_vwap = data[['Month','Year','VWAP']]
#Data grouping
group = data_vwap.groupby(['Month','Year'])
group.first()

                   VWAP
Month Year
1     2018  1694.491061
      2019  1794.152939
2     2018  1720.484381
      2019  1802.884744
3     2018  1730.985450
      2019  1806.769172
4     2018  1738.592304
      2019  1813.411405
5     2017  1559.500000
      2018  1747.132021
      2019  1821.038455
6     2017  1554.616636
      2018  1755.426983
7     2017  1606.443668
      2018  1763.034286
8     2017  1639.711234
      2018  1776.142270
9     2017  1667.030031
      2018  1784.464312
10    2017  1686.617325
      2018  1787.719313
11    2017  1692.873801
      2018  1782.283901
12    2017  1694.459291
      2018  1786.975805

# Problem Statement 1.5

Write a function to calculate the average price over the last N days of the stock price data where N is a user defined parameter. Write a second function to calculate the profit/loss percentage over the last N days.
Calculate the average price AND the profit/loss percentages over the course of last -
1 week, 2 weeks, 1 month, 3 months, 6 months and 1 year.
{Note : Profit/Loss percentage between N days is the percentage change between the closing prices of the 2 days }

In [17]:
def avgerage_price(N): #N refers to number of days.
    return (data['Average Price'].tail(N).sum())/N
print("Average prices for last N days are as follows:")
print("Last 1 week",avgerage_price(5))
print("Last 2 weeks",avgerage_price(10))
print("Last 1 month",avgerage_price(20))
print("Last 3 months",avgerage_price(60))
print("Last 6 months",avgerage_price(120))
print("Last 1 year",avgerage_price(240))

Average prices for last N days are as follows:
Last 1 week 1947.5220000000002
Last 2 weeks 1967.8839999999996
Last 1 month 1983.4120000000003
Last 3 months 1947.6418333333336
Last 6 months 1949.3034999999998
Last 1 year 1647.5446249999998

In [19]:
print("Profit/Loss % for N days are as follows:")
def profit_loss(N): #N refers to number of days.
    difference = (data['Close Price'].tail(N).iloc[N-1] - data['Close Price'].tail(N).iloc[0])
    if difference < 0 :
        loss = -(difference)
        loss_percentage = (loss/data['Close Price'].tail(N).iloc[N-1])*100
        return loss_percentage
    if difference > 0 :
        profit = difference
        profit_percentage = (profit/data['Close Price'].tail(N).iloc[N-1])*100
        return profit_percentage
print("Loss/Profit percentage for last N days are as follows:")
print("Last 1 week",profit_loss(5))
print("Last 2 weeks",profit_loss(10))
print("Last 1 month",profit_loss(20))
print("Last 3 months",profit_loss(60))
print("Last 6 months",profit_loss(120))
print("Last 1 year",profit_loss(240))

Profit/Loss % for N days are as follows:
Loss/Profit percentage for last N days are as follows:
Last 1 week 0.6861590455220371
Last 2 weeks 1.2545445235291104
Last 1 month 3.9095703825080603
Last 3 months 2.672947923600801
Last 6 months 4.339699933432331
Last 1 year 72.86087357263557